.form{
    padding: 10px;
}
ion-input{
    border-bottom:  1px solid #ffffff;
}

.sector{
    width: 100%;
    padding: 20px;
    background-color: rebeccapurple;
    margin-bottom: 20px;
    color: #ffffff;
}

img{
    height: 100px;
    width: 100px;
    //border:  1px solid #ffffff;
    float:right;
    border: none;
    margin-top: -90px;
}

textarea{
    color: #000000;
}