

<ion-content color="#ffffff" >
  <div class="image">
      <div class="edit" (click)="back()">
          <ion-icon name="arrow-back"></ion-icon>
      </div>
    <img src="{{photourl}}" alt="">
  </div>
  
  <div class="container">
    <ion-label class="det">FIRST NAME <span class="det1">{{fname}}</span></ion-label>
  </div>

  <div class="container">
  <ion-label class="det">LAST NAME <span class="det2">{{lname}}</span></ion-label>
  </div>

  <div class="container">
  <ion-label class="det">NICKNAME <span class="det3">{{nick}}</span></ion-label>
  </div>

  <div class="container">
  <ion-label class="det">MATRIC NO <span class="det4">{{matric}}</span></ion-label>
  </div>

  <div class="container">
  <ion-label class="det">EMAIL <span class="det5">{{email}}</span></ion-label>
  </div>

  <div class="container">
  <ion-label class="det">PHONE NO <span class="det6">{{phone}}</span></ion-label>
  </div>

  <div class="container">
      <ion-label class="det">WORK PLACE <span class="det8">{{work}}</span></ion-label>
      </div>

      <div class="container">
        <ion-label class="det">LINKEDEIN <span class="det7">{{linkedin}}</span></ion-label>
        </div>

  <div class="container">
  <ion-label class="det">TWITTER <span class="det7">{{twitter}}</span></ion-label>
  </div>
  

  <div class="container">
  <ion-label class="det">INSTAGRAM <span class="det8">{{instagram}}</span></ion-label>
  </div>

  <div class="container">
      <ion-label class="det">HOBBIES <span class="det7">{{hobbies}}</span></ion-label>
      </div>

      <div class="container">
          <ion-label class="det">DISLIKES <span class="det7">{{dislike}}</span></ion-label>
          </div>
      


</ion-content>
