.btn{
    width: 100%;
    height: 100%;
    margin-left:  auto;
    margin-right:  auto;
    border:  2px solid #ffffff;
    border-radius: 7px;
    background-color: rebeccapurple;
}
ion-title{
    color: #ffffff;
}

.edit{
    color: #ffffff;
    height: 30px;
   margin-top:-10px;
    float: right;
    margin-right: 30px;
    font-size: 5x;
}

.button-native{
    background-color: rebeccapurple;
}