
.pic{
    height:120px;
    width:120px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 120px;
}

.btn{
    width: 100%;
    margin-left:  auto;
    margin-right:  auto;
    border:  2px solid #ffffff;
    border-radius: 7px;
    background-color: rebeccapurple;
}



.button-native{
    background-color: rebeccapurple;
}
.det{
    padding:10px;
    width:30%;
    font-size: 12px;
    color: #ffffff;
    background-color: rebeccapurple;
    
    }
    .detI{
    font-size: 15px;
    color: #000000;
    }
    
    .detL{
        font-size: 15px;
        color: #000000;
        }
    
        .detN{
            font-size: 15px;
            color: #000000;
            }