.title{
    margin-top: 10px;
    width: 70%;
    font-size: 90%;
}
p{
  font-size: 80%;
}

.close{
    float: right;
    margin-top: -40px;
    width: 20%;
    height: 50px;
    text-align:  center;
}



.sendBtn{
  height: 40px;
  width: 12%;
  max-width: 45px;
  box-shadow: none;
  border: none;
  background: transparent;
  float: right;
  background-color: #20054B;
   
  }
  
  .sendIcon{
    
      width: 20px;
      height: 30px;
      box-shadow: none;
      border: none;
      color:#ffffff;
      background: transparent;
      margin-top:5px;
    
  }
  
  textarea{
    width: 88%;
    padding-left: 10px;
    padding-top: 10px;
    border: none;
    outline: none;
    height: 40px;
    border-top-left-radius: 22.5px;
    border-bottom-left-radius: 22.5px;
  }
  .textdiv{
    text-align:center;
    width:100%;
    border:1px solid #000000;
    border-top-left-radius:22.5px;
    border-bottom-left-radius:22.5px;
    height:auto;
    margin-bottom: 20px;
  }

  .cmtdiv{
    width: 100%;
    margin-top: 20px;
  }
  .time{
    float: right;
    font-size: 10px;
  }
  .image{
    width: 35px;
    height: 35px;
    border-radius: 100%;
  }
  .commenter{
    font-weight: bold;
    font-size: 80%;
    margin-left: 3px;
  }
  .comment{
    color: #141414;
    float: right;
    border-radius: 10px;
    margin-top: -30px;
    background-color: #F2F3F5;
    width: 77%;
    padding: 7px;
    margin-right: 16px;
    
  }
  .commentText{
    margin-left: 7px;
    font-size: 95%;
  }
  .sc-ion-card-md-h{
    box-shadow: none;
    margin-left: -10px;
    margin-bottom: 20px;
  }
 